#if($moc.isDeprecated())
//! Deprecated
#end
class $moc.lastComponent() {

#foreach( $constant in $c.asJava($moc.constants()) )
    const $constant.name() = $constant.value();
#end

#foreach( $method in $c.asJava($moc.methods()) )
    //! $method.description()
    //! Parameters:
#foreach ($param in $c.asJava($method.params()))
    //! $param.name():$param.kind().ref().replaceAll("::",".").replace("Toybox.Lang.", "") - $param.description()
#end
    //! returns $method.returns().ref().replaceAll("::",".").replace("Toybox.Lang.", "")
    function $method.name()($c.makeParamsList($method.params())) {}

#end

}